:root{
    --default-font:"Poppins", serif;
    --primary-color: rgb(26, 19, 24);
}
body{
    font-family: var(--default-font);
    background-color: var(--primary-color);
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.grid{
    display:grid;
      
}
.grid-2-col{
    grid-template-columns: 1fr 1fr;
}
.grid-3-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}
.grid-3-col div img{
    width: 100%;
    display: block;
    margin: 0 auto;
}
.img-responsive{
    aspect-ratio: 1/1;
}

header{
    background-image:linear-gradient(rgba(26,19,24,0.4), rgba(26,19,24,0.4)), url('../images/irish-mist.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 200px 0;
    text-align: center;
}

header h1{
    font-weight: 500;
    font-size: 81px;
    line-height: 1;
    margin: 30px 0;
    
}
header h2{
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0;
}

header a{
    background-color:#fff;
    border-radius: 4px;
    color: var(--primary-color);
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-top: 32px;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
}
main{
    background-color: #fff;
    color: var(--primary-color);
}
main h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0px;
    opacity: .4;
    text-transform: uppercase;
}
main h3{
    
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin: 0px;
}
main h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: var(--primary-color);
    margin: 0;
}
main h5{
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
    color: var(--primary-color)
}

main p{
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    opacity: .7;
}

.about-photo{
    display: block;
    margin: 0 auto;
    max-width: 100%;
} 
section{
    max-width: 100%;
    margin: 0 auto;
    padding: 75px 100px;
}
section.secondary{
    background-color:#f8f8f8;
}
.text-center{
    text-align: center;
    font-size: 24px;
}

.card{
    background-color:#f8f8f8;
    margin: 30px 0 ;
}
.card-header.grid{
    grid-gap:0;
}
.embed{
    width:100%;
    aspect-ratio: 1/1;
}
.card-body{
    padding: 30px;
}
.card-footer{
    padding: 30px;
}
.btn{
    display: block;
    color:#fff;
    background-color: var(--primary-color);
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 16px;
}
.btn:hover{
    background-color: rgb(58, 34, 55);
}


footer{
    background-image:linear-gradient(rgba(26,19,24,0.7), rgba(26,19,24,0.7)), url('../images/irish-forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    padding-left:50px;
    
}
footer h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

footer ul{
    padding: 0;
}
footer li{
    letter-spacing: 1.5px;
    list-style: none;
    line-height: 1.5;
    font-size: 20px;
    opacity: .8;
}
footer.contact {
    background-color: #04410c;
    border-radius: 50%;
    color:#fff;
    font-size: 20px;
    opacity: .8;
    padding: 10px 12px;  
}
footer a:hover{
    opacity:1;
}
footer p{
    text-align: center;
    opacity: .8;
}
.coder-links{
    text-decoration: none;
    background-color: none;
    color:#fff;
}
.coder-links:hover{
    color: rgb(138, 40, 125)
}
@media(max-width:1200px){
   .grid-3-col{
    grid-template-columns: 1fr;
   } 
}
@media(max-width:900px){
   
    header{
        padding: 60px 0;
    }
    header h1{
        font-size: 48px;
    }
    header h2{
        font-size: 20px;
        font-weight: 600;
    }
    header h3{
        font-size: 16px;
        
    }
    main h3{
        font-size:24px;
    }

    section{
    padding: 20px;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .img-responsive{
        display: none !important;
    }
    .embed{
        aspect-ratio: 16/9;
    }
   
}