:root{
    business-title-font: "Baskervville SC", serif;
    default-font:"Poppins", serif;
}
body{
    font-family: var(default-font);
    background-color: #000;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
}
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
   
}
section{
    max-width: 1400px;
    margin: 0 auto;
    padding: 30px;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('../images/irish-mist.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 200px 0;
    text-align: center;
}

header h1{
    font-family: var(business-title-font);
    font-weight: 700;
    font-size: 96px;
    line-height: 1;
    margin: 30px 0;
    
}
header h2{
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0;
}
header h3{
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5;
    margin: 0;
}
header a{
    background-color:#fff;
    border-radius: 4px;
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 3px;
    line-height: 1.5;
    margin-top: 32px;
    padding: 16px 32px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 150ms ease-in-out;
}
main{
    background-color: #fff;
}
main h2{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0px;
    opacity: .4;
    text-transform: uppercase;
}
main h3{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 3px;
    margin: 0px;
}
main p{
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    opacity: .7;
}
.about-photo{
    display: block;
    padding: 0 50px;
    margin: 0 auto;
} 

footer{
    background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../images/irish-forest.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
    padding-left:50px;
    
}
footer h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

footer ul{
    padding: 0;
}
footer li{
    letter-spacing: 1.5px;
    list-style: none;
    line-height: 1.5;
    font-size: 20px;
    opacity: .8;
}
footer a {
    background-color: #04410c;
    border-radius: 50%;
    color:#fff;
    font-size: 20px;
    opacity: .8;
    padding: 10px 12px;  
}
footer a:hover{
    opacity:1;
}
@media(max-width:900px){
    header{
        padding: 60px 0;
    }
    header h1{
        font-size: 48px;
    }
    header h2{
        font-size: 20px;
        font-weight: 600;
    }
    header h3{
        font-size: 16px;
        
    }
    
    .grid{
        grid-template-columns: 1fr;
    }
   
}